# systemd service file to start piTelex

# sudo cp txsbahn.service /lib/systemd/system/
# sudo systemctl enable txsbahn.service
# sudo systemctl daemon-reload && sudo systemctl start txsbahn.service

[Unit]
#
Description=txservice
Requires=network.target
After=network.target
Documentation=https://tty.mhoerz.de/

[Service]
Type=forking
User=marcel
Group=marcel
#
WorkingDirectory=/home/marcel/Programme/TelexService/
#
ExecStart=/usr/bin/byobu-screen -d -m -S txservice /home/marcel/Programme/TelexService/txservice.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
