# systemd service file to start piTelex

# sudo cp txservice.service /lib/systemd/system/
# sudo systemctl enable txservice.service
# sudo systemctl daemon-reload && sudo systemctl start txservice.service

[Unit]
#
Description=txservice
Requires=network.target
After=network.target
Documentation=https://github.com/coffeinator/TelexService

[Service]
Type=simple
User=marcel
Group=marcel
#
WorkingDirectory=/home/marcel/Programme/TelexService/
#
ExecStart=/home/marcel/Programme/TelexService/txservice.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
